# This file is managed by dropfort/dropfort_build.
# Modifications to this file will be overwritten by default.

## Docker Compose Settings.
### N.B. Docker Compose settings must be placed in your workspace root .env as well ###
COMPOSE_PROJECT_NAME=drupal_project

## For a list of environment variables you can set here see the
## docker-compose.yml file in this directory.

### Example use of docker compose profiles
### COMPOSE_PROFILES=solr,api
COMPOSE_PROFILES=
COMPOSE_HTTP_TIMEOUT=600

## PHP Settings
# Downgrade PHP from 8.2
# PHP_VERSION=7.4

## Composer Settings
# Force a different version of composer. Default is 2.
# @see https://dockerfile.readthedocs.io/en/latest/content/DockerImages/dockerfiles/php-apache-dev.html#composer
# COMPOSER_VERSION=1

## Node Settings
# Downgrade node version from 18.
# NODE_MAJOR_VERSION=14
# NPM_MAJOR_VERSION=6

## MariaDB Settings
# MARIADB_TAG=10.6

## Apache Solr Settings
# SOLR_VERSION=9

## List of search api solr backends to manage the config for.
# DF_DRUPAL_SEARCH_API_SOLR_MANAGED_BACKENDS=default

## Custom web root settings (e.g. Acquia).
### Note this value also needs to be set in the project root .env
### file for npm to work properly.
# DF_DRUPAL_WEBROOT=docroot

## Docker Rootless settings.
### Usually this is best to put in your user account's .bashrc file to set
### Globally instead of just for this project.
# TRAEFIK_DOCKER_SOCKET=/run/user/1000/docker.sock

## Set your target architecture to ARM (e.g. Apple Silicon)
# TARGET_ARCHITECTURE=linux/arm64
