# This file is managed by dropfort/dropfort_build.
# Modifications to this file will be overwritten by default.

## Docker Compose Settings.
### N.B. Docker Compose settings must be placed in your workspace root .env as well ###
COMPOSE_PROJECT_NAME=drupal_project
COMPOSE_HTTP_TIMEOUT=600

## PHP Settings
# Downgrade PHP from 8.2
# PHP_VERSION=7.4

## Composer Settings
# Force a different version of composer. Default is 2.
# @see https://dockerfile.readthedocs.io/en/latest/content/DockerImages/dockerfiles/php-apache-dev.html#composer
# COMPOSER_VERSION=1

## Custom web root settings (e.g. Acquia).
### Note this value also needs to be set in the project root .env
### file for npm to work properly.
# DF_DRUPAL_WEBROOT=docroot

## Set your target architecture to ARM (e.g. Apple Silicon)
# TARGET_ARCHITECTURE=linux/arm64
